body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000, #6A0DAD, #000000);
    font-family: Arial, sans-serif;
    color: white;
}
/* siderbar fixa */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: none;
}
/* logo */
.sidebar img {
    max-width: 150px;
}
/* menu */
.sidebar menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 15px;
}
.sidebar menu li {
    margin: 15px 0;
}
.sidebar menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.sidebar menu a:hover {
    color: #b266ff; /* roxo claro no hover */
}
.sidebar h1,
.sidebar h2 
.sidebar p {
    background: none;
    margin: 0;
}
.sidebar h1 {
    font-size: 1.8em;
    margin-top: 10px;
}

.sidebar h2 {
    font-weight: normal;
    color: #d1aaff;
    margin-bottom: 15px;
}

.sidebar p {
    line-height: 1.5;
}
/* Conteúdo principal deslocado */
.main-content {
    margin-left: 280px; /* espaço da sidebar */
    padding: 40px;
}
/* Títulos */
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-weight: normal;
    color: #d1aaff;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(110, 28, 148);
    text-shadow: 2px 2px 2px rgb(8, 8, 8);
}
h2{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: rgb(114, 24, 150);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(252, 252, 252);
    line-height: 1.5;
    text-align: center;
}
menu {
    background-color: #05000a;
    padding: 10px;
    border-radius: 5px;
}